<app-navbar></app-navbar>
<div class="ui-g-2 ui-md-2 ui-sm-0"></div>
<div class="ui-g-8 ui-md-8 ui-sm-12">
  <h1>My Profile</h1>
  <hr>
  <div class="ui-g-8">
    <div>
      <p-fieldset legend="Data:">
        <div class="ma">
          <br><br>
          <div>First Name:</div>
          <br>
          <div>Last Name:</div>
          <br>
          <div>U-number:</div>
          <br>
          <div>Password:</div>
          <br>
          <div>E-mail:</div>
          <br>
          <div>Phone number:</div>
          <br>
          <div>Short desription:</div>
          <br><br><br>
        </div>
        <div class="buttons">
          <button type="submit" class="btn btn-default" style="float : right;" routerLink="/profile">Save</button>
          <button type="submit" class="btn btn-default" style="float : left;" routerLink="/profile">Cancel</button>
        </div>
      </p-fieldset>
    </div>
  </div>
  <div class="ui-g-4">
    <div class="imagecontainer">
      <p-fieldset legend="Profile Picture">
        <img src="https://i.pinimg.com/736x/69/78/60/69786017697e4ab417beca2bec359971--emoji-faces-smiley-faces.jpg" class="img-responsive" alt="Error!">
        <br>
        <button type="submit" class="btn btn-default">Change Profile Picture</button>
      </p-fieldset>
      <br>
    </div>
  </div>
</div>
<div class="ui-g-2 ui-md-2 ui-sm-0"></div>
