<div class="ui-g-4 ui-md-4 ui-sm-0"></div>
<div class="ui-g-4 ui-md-4 ui-sm-12" style="border-style : solid;">

  <div class="ui-g-12 ui-md-12 ui-sm-12">

    <div class="ui-g-2 ui-md-3 ui-sm-3"></div>
    <div class="ui-g-6 "><img src="https://www.bestjobs.eu/media/cache/resolve/employer_logo/58a5c5db02dee.png" alt="in-tech" class="img-responsive center">
      <p-messages [(value)]="msgs"></p-messages>
    </div>
    <div class="ui-g-2 ui-md-3 ui-sm-3"></div>


    <div class="ui-g-12 ui-md-12 ui-sm-12">
      <div class="login-title ui-g ui-fluid">

        <div class="ui-g-0"></div>
        <div class="ui-g-12">
          <h1>Forgot your password?</h1>
        </div>
        <div class="ui-g-4 ui-md-12">Complete the fields below to proceed:</div>

        <form [formGroup]="myForm" novalidate (ngSubmit)="sendEmail(myForm.value)" class="form-horizontal formular">
          <div class="ui-g ui-g-12 ui-md-12 ui-sm-12 ui-fluid">

            <div class="ui-g-3 ui-md-2 ui-sm-0"></div>
            <div class="ui-g-5 ui-md-8 ui-sm-0">
              <div class="ui-inputgroup" style="margin-bottom:5%;">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input formControlName="username" pInputText placeholder="U-Number">
              </div>
              <div class="ui-g-12 ui-md-12 ui-sm-0">
                <small [hidden]="myForm.controls.username.valid || (myForm.controls.username.pristine && !submitted)" class="text-danger">
                  Please insert your U-Number provided by in-tech
                  <br>
                  (Valid example: U1234)
                </small>
              </div>
            </div>
            <div class="ui-g-3 ui-md-2 ui-sm-0"></div>

            <div class="ui-g-3 ui-md-2 ui-sm-0"></div>
            <div class="ui-g-5 ui-md-8 ui-sm-0">
              <div class="ui-inputgroup" style="margin-bottom:15%;">
                <span class="ui-inputgroup-addon"><i class="fa fa-envelope "></i></span>
                <input formControlName="email" pInputText placeholder="E-mail">
              </div>
            </div>
            <div class="ui-g-3 ui-md-2 ui-sm-0"></div>


            <div class="ui-g-4  ui-md-4 ui-sm-4"><button routerLink="/login" pButton type="button" label="Back"></button></div>
            <div class="ui-g-4  ui-md-4 ui-sm-0"></div>
            <div class="ui-g-4  ui-md-4 ui-sm-4"><button pButton type="submit" label="Send Email" [disabled]="!myForm.valid"></button>
              <div class="my-container">
                <ngx-loading [show]="loading" [config]="{backdropBackgroundColour: 'rgb(255, 255, 255)', primaryColour: '#918888', secondaryColour: '#f48200', tertiaryColour: '#000000' }"></ngx-loading>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<div class="ui-g-4 ui-md-4 ui-sm-0"></div>

<p-dialog header="E-mail sent!" [(visible)]="displayDialog" [contentStyle]="{'overflow':'visible'}" modal="modal" routerLink="/login">
  A new random generated password has been sent to your e-mail address. Close this window to return to the Login Page.
</p-dialog>
